<ion-view title="Agregar Cliente" id="page26">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="agregarCliente-list-item-container15">
            <form id="agregarCliente-form11" class="list">
                <label class="item item-input" id="agregarCliente-input16">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="">
                </label>
                <div class="spacer" style="width: 268px; height: 23px;"></div>
                <label class="item item-input" id="agregarCliente-input17">
                    <span class="input-label">Rif</span>
                    <input type="text" placeholder="">
                </label>
                <div class="spacer" style="width: 268px; height: 24px;"></div>
                <label class="item item-input" id="agregarCliente-input18">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <div class="spacer" style="width: 268px; height: 29px;"></div>
                <label class="item item-select" id="agregarCliente-select1">
                    <span class="input-label">Zona</span>
                    <select></select>
                </label>
                <a ui-sref="tabsController.cliente" id="agregarCliente-button16" class="button button-positive  button-block">Agregar</a>
            </form>
        </div>
    </ion-content>
</ion-view>