<ion-view title="Cambiar Contraseña" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="cambiarContraseA-form4" class="list">
            <label class="item item-input" id="cambiarContraseA-input7">
                <span class="input-label">Contraseña Anterior</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="cambiarContraseA-input8">
                <span class="input-label">Nueva Contraseña</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="cambiarContraseA-button4" class="button button-positive  button-block">Ok</button>
    </ion-content>
</ion-view>