<ion-view title="Clientes" id="page7">
    <ion-content padding="true" class="has-header">
        <a ui-sref="agregarCliente" id="clientes-button9" class="button button-positive  button-block">agregar cliente</a>
        <ion-list id="clientes-list3">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Ingrese Busqueda" ng-model="cliente.search" ng-change="search(cliente);">
            </label>
            <ion-list id="elSartN-list12" ng-repeat="cliente in clientes">
                <ion-item class="item-avatar" id="elSartN-list-item26" ui-sref="tabsController.cliente({idCliente:cliente.Cliente.id})">
                    <h2>{{cliente.Cliente.cli_des}}</h2>
                </ion-item>
                
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>