<ion-view title="Cotizaciones Clientes" id="page22">
    <ion-content padding="true" class="has-header">
        <ion-list id="cotizacionesClientes-list37">
            <ion-item class="item-icon-left" id="cotizacionesClientes-list-item53">
                <i class="icon ion-android-list"></i>Cliente 1
                <br>Factura 123456
                <br>4 Productos</ion-item>
            <ion-item class="item-icon-left" id="cotizacionesClientes-list-item56">
                <i class="icon ion-android-list"></i>Cliente 1
                <br>Factura 123456
                <br>4 Productos</ion-item>
            <ion-item class="item-icon-left" id="cotizacionesClientes-list-item55">
                <i class="icon ion-android-list"></i>Cliente 1
                <br>Factura 123456
                <br>4 Productos</ion-item>
            <ion-item class="item-icon-left" id="cotizacionesClientes-list-item54">
                <i class="icon ion-android-list"></i>Cliente 1
                <br>Factura 123456
                <br>4 Productos</ion-item>
        </ion-list>
    </ion-content>
</ion-view>