<ion-view title="Utensilios el Sarten"  id="olvidobg">
    <ion-content padding="true" class="has-header mask">
        <ion-list id="detalleVendedor-list31" class="borderline mask2">
            <ion-item class="item-thumbnail-left" id="detalleVendedor-list-item45">
            <img src="../img/icon.png" width="200" height="40" style="display: block; margin-left: auto; margin-right: auto;">
                <h2>Utensilios el Sarten
                    <br>J-31421844-1
                    </h2>
                    <br>Calle las Flores con Calle Negrin Edificio apulina PB local a Sabana Grande 1050
            </ion-item>
        </ion-list>
        
        <ion-list id="elSartN-list24">
            <ion-item class="item-icon-left" id="elSartN-list-item39">
                <i class="icon ion-ios-telephone"></i>Datos de Contacto</ion-item>
        </ion-list>
        <div class="item item-body" id="elSartN-list-item-container11">
            <ion-list id="elSartN-list25">
                <ion-item class="item-icon-left" id="elSartN-list-item40" >
                <i class="icon ion-ios-telephone"></i>
                    <h2>0212-716-2157</h2>
                </ion-item>
            </ion-list>
            
        </div>
        <ion-list id="elSartN-list24">
            <ion-item class="item-icon-left" id="elSartN-list-item39">
                <i class="icon ion-cash"></i>Cuentas Bancarias</ion-item>
        </ion-list>
        <div class="item item-body" id="elSartN-list-item-container11">
            <ion-list id="elSartN-list25">
                <ion-item class="item-icon-left" id="elSartN-list-item40">
                <i class="icon ion-cash"></i>
                    <h2>Banco Nacional de Credito B.N.C</h2>
                    <h2>0191-0064-2621-6401-0590</h2>
                </ion-item>
            </ion-list>
            
        </div>
        
    </ion-content>
</ion-view>