<ion-view title="{{data.Cliente.cli_des}}" id="olvidobg">
    <ion-content padding="true" class="has-header mask">
        <div class="item item-body mask" id="detallesCliente-list-item-container14">
            <ion-list id="detallesCliente-list29">
                <ion-item class="item-divider" id="detallesCliente-list-item-divider9">Facturas</ion-item>
                <ion-item class="item-icon-left" id="detallesCliente-list-item41">
                    <i class="icon ion-ios-star"></i>{{data.Factura.emitidas.length}} Facturas Emitidas</ion-item>
                <ion-item class="item-icon-left" id="detallesCliente-list-item36">
                    <i class="icon ion-ios-stopwatch"></i>{{data.Factura.vencidas.length}} Facturas Vencidas</ion-item>
                    
                <ion-item class="item-icon-left" id="detallesCliente-list-item18">
                    <i class="icon ion-checkmark-circled"></i>{{data.Factura.pagadas.length}} Facturas Pagadas</ion-item>
            </ion-list>
            <div class="spacer" style="width: 268px; height: 19px;"></div>
        <h1 id="detalleCotizacion-heading4" style="color:white;">Productos</h1>     
        <ion-list id="detalleCotizacion-list26" ng-repeat="producto in productos">
            <ion-item class="item-thumbnail-left" id="detalleCotizacion-list-item32" ui-sref="detalleProducto({idProducto:producto.Articulo.id})">
                <img src="http://placehold.it/120x120">
                <h2>{{producto.Articulo.co_art}}
                    <br>{{producto.Articulo.art_des}}
                    <br>{{producto.Cotizacione.cantidad}}</h2>

            </ion-item>
            
        </ion-list>

       

        </div>
    </ion-content>
</ion-view>