<ion-view title="{{producto.Articulo.art_des}}" id="olvidobg">
    <ion-content padding="true" class="has-header mask2">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" style="text-align : center;">
  		<ion-slide>      
            <img src="http://placehold.it/320x320">
        </ion-slide>
        <ion-slide>    
            <img src="http://placehold.it/320x320">
        </ion-slide>
    </ion-slide-box>    
        <div id="detalleProducto-markdown6" style="color:#000000;">
            <p>{{producto.Articulo.art_des}}</p>
            <p>{{producto.Articulo.precio}}</p>
        </div>     
    </ion-content>
</ion-view>