<ion-view title="Detalle Cotizacion" id="page18">
    <ion-content padding="true" class="has-header">
        <h1 id="detalleCotizacion-heading4" style="color:#000000;">Productos</h1>
        <a ui-sref="tabsController.productos" id="detalleCotizacion-button15" class="button button-positive  button-block">Agregar nuevo Producto</a>
        <ion-list id="detalleCotizacion-list26">
            <ion-item class="item-thumbnail-left" id="detalleCotizacion-list-item32" ui-sref="tabsController.detalleProducto">
                <h2>Producto 1
                    <br>COD12345
                    <br>4 Unidades</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="detalleCotizacion-list-item34" ui-sref="tabsController.detalleProducto">
                <h2>Producto 2
                    <br>COD76543
                    <br>10 Unidades</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="detalleCotizacion-list-item35" ui-sref="tabsController.detalleProducto">
                <h2>Producto 3
                    <br>COD09876
                    <br>1 Unidad</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="detalleCotizacion-list-item37" ui-sref="tabsController.detalleProducto">
                <h2>Producto 4
                    <br>COD19283
                    <br>12 Unidades</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>