<ion-view title="Detalle Factura" id="olvidobg">
    <ion-content padding="true" class="has-header mask">
        <div class="item item-body mask" id="detallesCliente-list-item-container14">
            <ion-list id="detallesCliente-list29">
                <ion-item class="item-divider" id="detallesCliente-list-item-divider9"><h2>Factura #{{factura.Factura.Factura.fact_num}} - Monto , {{factura.Factura.Factura.tot_bruto}} Bsf , Fecha de Vencimiento {{factura.Factura.Factura.fec_venc}}</h2></ion-item>
                
            </ion-list>
            <div class="spacer" style="width: 268px; height: 19px;"></div>
        <h1 id="detalleCotizacion-heading4" style="color:white;">Productos</h1>     
        <ion-list id="detalleCotizacion-list26" ng-repeat="f in factura.Articulos">
            <ion-item class="item-thumbnail-left" id="detalleCotizacion-list-item32" >
                <img src="{{'http://elsarten.dyndns-home.com:8080/el_sarten/img/' + f.a.co_art}}.bmp">
                <h2>{{f.a.co_art}}
                    <br>{{f.a.art_des}}
                    <br>{{f.a.precio | number:2}}</h2>

            </ion-item>
            
        </ion-list>
        

        </div>
    </ion-content>
</ion-view>