<ion-view title="Detalles Cliente" id="page23">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="detallesCliente-list-item-container14">
            <ion-list id="detallesCliente-list29">
                <ion-item class="item-divider" id="detallesCliente-list-item-divider9">Facturas</ion-item>
                <ion-item class="item-icon-left" id="detallesCliente-list-item41">
                    <i class="icon ion-ios-star"></i>10 Facturas Entregadas</ion-item>
                <ion-item class="item-icon-left" id="detallesCliente-list-item36">
                    <i class="icon ion-ios-stopwatch"></i>3 Facturas Vencidas</ion-item>
                <ion-item class="item-icon-left" id="detallesCliente-list-item18">
                    <i class="icon ion-checkmark-circled"></i>7 Facturas Pagadas</ion-item>
            </ion-list>
            <div class="spacer" style="width: 268px; height: 19px;"></div>
            <ion-list id="detallesCliente-list34">
                <ion-item class="item-divider" id="detallesCliente-list-item-divider10">Productos Pendientes</ion-item>
                <ion-item id="detallesCliente-list-item42">Producto 1 - COD8765</ion-item>
                <ion-item id="detallesCliente-list-item43">Producto 2 - COD8765</ion-item>
                <ion-item id="detallesCliente-list-item44">Producto 3 - COD12765</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>