<ion-view title="Detalle de Factura" id="page17">
    <ion-content padding="true" class="has-header">
        <h1 id="detalleDeFactura-heading3" style="color:#000000;">Factura 123456</h1>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
        <div class="item item-body" id="detalleDeFactura-list-item-container9">
            <div id="detalleDeFactura-markdown10" style="color:#000000;">
                <p>Nombre de Cliente 1</p>
            </div>
            <div id="detalleDeFactura-markdown11" style="color:#000000;">
                <p>RIF: J- 123456789</p>
            </div>
            <div id="detalleDeFactura-markdown15" style="color:#000000;">
                <p>Monto:
                    <strong>1.345.654</strong>
                </p>
            </div>
            <div id="detalleDeFactura-markdown12" style="color:#000000;">
                <p>Fecha de emision: 1/1/16</p>
            </div>
            <div id="detalleDeFactura-markdown13" style="color:#000000;">
                <p>Fecha esperada de pago: 1/2/16</p>
            </div>
            <div id="detalleDeFactura-markdown14" style="color:#F50808;font-size:70px;text-align:center;">
                <p>
                    <strong>37 dias de Vencimiento</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>