<ion-view title="Productos" id="page16">
    <ion-content padding="true" class="has-header">
        <ion-list id="productos-list13">
            <div class="item item-body" id="productos-list-item-container19">
                <form id="productos-form8" class="list">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="">
                    </label>
                </form>
            </div>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
        <ion-list id="productos-list17" ng-repeat="producto in productos">
            <ion-item class="item-thumbnail-left item-icon-right" id="productos-list-item28"ui-sref="tabsController.detalleProducto({idProducto:producto.Articulo.id})">
                <h2>{{producto.Articulo.art_des}}</h2>
                <i class="icon ion-android-add-circle" ></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>