<ion-view title="Ubicacion de Cliente" id="olvidobg">
    <ion-content padding="true" class="has-header mask">
        <creator-map-component options="{}" marker="true"  zoom="12" style="display:block;position:relative;width:100%;height:450px;">
        <ui-gmap-google-map ng-if="map.center" controller="ubicacionDeClienteCtrl" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="{draggable:true}" >
    	</ui-gmap-marker>
		    </ui-gmap-google-map>
		</creator-map-component>
<div class="spacer" style="width: 300px; height: 27px;"></div>


<button id="ubicacionDeCliente-button17" ng-click="updateCliente(map.marker.coords);" class="button button-positive  button-block">Guardar</button>
</ion-content>
</ion-view>
        